<a href="https://colab.research.google.com/github/skyworld19/ds-school-advanced/blob/master/WorkShop_08_%EC%A3%BC%ED%83%9D_%EA%B0%80%EA%B2%A9_%EC%98%88%EC%B8%A1_%EC%8B%A4%EC%8A%B5(%EC%BD%94%EB%93%9C%EC%B6%94%EA%B0%80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주택 가격 예측

주어진 집(house) 관련 데이터를 토대로 집 값을 예측하는 회귀(Regression) 분석 및 예측 대회입니다.

 79개의 다양한 집을 묘사할 수 있는 데이터 요소들을 기반으로, 각각의 집들에 대하여 최종 집값을 예측해 주길 기대합니다.
 
## 데이터 설명

#### 파일 구조
- train.csv
    - 학습을 위하여 활용되는 데이터 셋입니다.
- test.csv
    - 테스트를 위하여 제공되는 데이터 셋입니다. 본 파일 데이터를 기반으로 예측하여 집값을 예측합니다.
- submission.csv
    - 예측한 집값 데이터를 submission 파일에 작성한 후 제출합니다.
    
#### 컬럼 구조
* **SalePrice**: 부동산의 판매 가격 (달러). 이것은 예측하려는 **목표 변수**입니다.
* MSSubClass : 건물 등급
* MSZoning : 일반 구역 분류
* LotFrontage : 부동산에 연결된 거리의 선형 피트
* LotArea : 평방 피트 단위의 부지 크기
* Street : 도로 유형
* Alley : 골목 유형
* LotShape : 부지유형
* LandContour : 부동산의 평탄도
* Utilities : 사용 가능한 유틸리티 유형
* LotConfig : 부지부지 구성
* LandSlope : 부동산의 경사
* Neighborhood : 인근유형. 물리적 위치
* Condition1 : 주요 도로 또는 철도와의 근접성
* Condition2 : 주요 도로 또는 철도와의 근접성 (2번째 조건이 존재하는 경우)
* BldgType : 주거 유형
* HouseStyle : 주거 스타일
* OverallQual : 전체 재료 및 마감 품질
* OverallCond : 전체 상태 등급
* YearBuilt : 준공일준공일
* YearRemodAdd : 리모델링 날짜
* RoofStyle : 지붕 유형
* RoofMatl : 지붕 재료
* Exterior1st : 주택주택 외장재
* Exterior2nd : 주택 외장재 (하나 이상인 경우)
* MasVnrType : 벽돌 베니어 유형
* MasVnrArea : 벽돌 베니어 영역 (평방 피트)
* ExterQual : 외장재 품질
* ExterCond : 외장재의 현황
* Foundation : 기초 유형
* BsmtQual : 지하 높이
* BsmtCond : 지하실 일반 상태
* BsmtExposure : 워크 아웃 또는 정원 수준의 지하 벽
* BsmtFinType1 : 지하실 마감면의 품질
* BsmtFinSF1 : 유형 1 완성 된 평방 피트
* BsmtFinType2 : 두 번째 완성 된 영역의 품질 (있는 경우)
* BsmtFinSF2 : 유형 2 완성 된 평방 피트
* BsmtUnfSF : 미완성 된 지하실 면적
* TotalBsmtSF : 지하 총 평방 피트
* Heating : 난방 유형
* HeatingQC : 난방 품질 및 상태
* CentralAir : 중앙 에어컨
* Electrical : 전기 시스템
* 1stFlrSF : 1 층 평방 피트
* 2ndFlrSF : 2 층 평방 피트
* LowQualFinSF : 저품질 마감 평방 피트 (모든 층)
* GrLivArea : 지상 (지상) 거실 면적 평방 피트
* BsmtFullBath : 지하 전체 욕실
* BsmtHalfBath : 지하 반 욕실
* FullBath : 등급 이상의 전체 욕실
* HalfBath : 학년 이상의 Half Bath
* Bedroom : 지하층 이상의 침실 수
* Kitchen : 주방 수
* KitchenQual : 주방 품질
* TotRmsAbvGrd : 등급 이상의 총 방 (욕실은 포함되지 않음)
* Functional : 홈 기능 등급
* Fireplaces : 벽난로 수
* FireplaceQu : 벽난로 품질
* GarageType : 차고 위치
* GarageYrBlt : 차고 건설 연도
* GarageFinish : 차고 내부 마감
* GarageCars : 차량 수용 가능 차고 크기
* GarageArea : 차고 크기 (평방 피트)
* GarageQual : 차고 품질
* GarageCond : 차고 상태
* PavedDrive : 포장 된 진입로
* WoodDeckSF : 목재 데크 면적 (평방 피트)
* OpenPorchSF : 평방 피트 단위의 오픈 현관 영역
* EnclosedPorch : 밀폐 된 현관 영역 (평방 피트)
* 3SsnPorch : 3 계절 현관 면적 (평방 피트)
* ScreenPorch : 스크린 포치 면적 (평방 피트)
* PoolArea : 수영장 면적 (평방 피트)
* PoolQC : 수영장 품질
* Fence : 울타리 품질
* MiscFeature : 다른 카테고리에서 다루지 않는 기타 기능
* MiscVal : 기타 기능의 가치 (달러)
* MoSold : 판매 월
* YrSold : 판매 연도
* SaleType : 판매 유형
* SaleCondition : 판매 조건

## 프로젝트 구성
* 데이터 로드 (load data, train.csv, test.csv)
* 데이터 전처리 및 특성 공학 (train.csv, test.csv)
* 모델 생성 및 검증 (train.csv)
* 평가 데이터 예측 (test.csv)
* 결과 제출 및 점수 확인

## 제출 이력 및 순위 조회
[평가시스템](http://manage.jaen.kr)에 접속하여 확인 가능
> 로그인 -> 프로젝트 -> 주택 가격 예측 -> 리더보드

### 접속 정보
- ID : `~~~@cj.net`
- PWD : `76595`

## 프로젝트 셋업

In [ ]:
!pip install --upgrade mySUNI

In [ ]:
from mySUNI import cds

In [ ]:
project_name = "주택 가격 예측" # 프로젝트 이름
class_info = "4차수 A반" # 차수 정보
email = "~@cj.net" # 여러분의 회사 이메일을 작성해 주세요   
myPro = cds.Project(project_name, class_info, email)
myPro.edu_name = 'CJ올리브네트웍스'

In [ ]:
cds.download_project(project_name, class_info, email)

## 모듈 import 
필요한 모듈을 import 합니다. 필요에 따라 추가 패키지를 load 할 수 있습니다.

In [ ]:
import os
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Data 경로 설정
DATA_DIR = 'data'

# train 데이터셋 로드 (train.csv)
train = pd.read_csv(os.path.join(DATA_DIR, project_name, 'train.csv'))
                                 
# test 데이터셋 로드 (test.csv)
test = pd.read_csv(os.path.join(DATA_DIR, project_name, 'test.csv'))

# submission 파일 로드 (submission.csv)
submission = pd.read_csv(os.path.join(DATA_DIR, project_name, 'submission.csv'))

In [ ]:
# 코드를 입력해 주세요
# 학습 데이터 조회

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>MSSubClass</th>
      <th>MSZoning</th>
      <th>LotFrontage</th>
      <th>LotArea</th>
      <th>Street</th>
      <th>Alley</th>
      <th>LotShape</th>
      <th>LandContour</th>
      <th>Utilities</th>
      <th>...</th>
      <th>PoolArea</th>
      <th>PoolQC</th>
      <th>Fence</th>
      <th>MiscFeature</th>
      <th>MiscVal</th>
      <th>MoSold</th>
      <th>YrSold</th>
      <th>SaleType</th>
      <th>SaleCondition</th>
      <th>SalePrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>60</td>
      <td>RL</td>
      <td>65.0</td>
      <td>8450</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>2</td>
      <td>2008</td>
      <td>WD</td>
      <td>Normal</td>
      <td>208500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>20</td>
      <td>RL</td>
      <td>80.0</td>
      <td>9600</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>5</td>
      <td>2007</td>
      <td>WD</td>
      <td>Normal</td>
      <td>181500</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>60</td>
      <td>RL</td>
      <td>68.0</td>
      <td>11250</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>9</td>
      <td>2008</td>
      <td>WD</td>
      <td>Normal</td>
      <td>223500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>70</td>
      <td>RL</td>
      <td>60.0</td>
      <td>9550</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>2</td>
      <td>2006</td>
      <td>WD</td>
      <td>Abnorml</td>
      <td>140000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>60</td>
      <td>RL</td>
      <td>84.0</td>
      <td>14260</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>12</td>
      <td>2008</td>
      <td>WD</td>
      <td>Normal</td>
      <td>250000</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 81 columns</p>
</div>

In [ ]:
# 코드를 입력해 주세요
# 평가 데이터 조회

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>MSSubClass</th>
      <th>MSZoning</th>
      <th>LotFrontage</th>
      <th>LotArea</th>
      <th>Street</th>
      <th>Alley</th>
      <th>LotShape</th>
      <th>LandContour</th>
      <th>Utilities</th>
      <th>...</th>
      <th>ScreenPorch</th>
      <th>PoolArea</th>
      <th>PoolQC</th>
      <th>Fence</th>
      <th>MiscFeature</th>
      <th>MiscVal</th>
      <th>MoSold</th>
      <th>YrSold</th>
      <th>SaleType</th>
      <th>SaleCondition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1461</td>
      <td>20</td>
      <td>RH</td>
      <td>80.0</td>
      <td>11622</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>Reg</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>120</td>
      <td>0</td>
      <td>NaN</td>
      <td>MnPrv</td>
      <td>NaN</td>
      <td>0</td>
      <td>6</td>
      <td>2010</td>
      <td>WD</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1462</td>
      <td>20</td>
      <td>RL</td>
      <td>81.0</td>
      <td>14267</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Gar2</td>
      <td>12500</td>
      <td>6</td>
      <td>2010</td>
      <td>WD</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1463</td>
      <td>60</td>
      <td>RL</td>
      <td>74.0</td>
      <td>13830</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>MnPrv</td>
      <td>NaN</td>
      <td>0</td>
      <td>3</td>
      <td>2010</td>
      <td>WD</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1464</td>
      <td>60</td>
      <td>RL</td>
      <td>78.0</td>
      <td>9978</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>Lvl</td>
      <td>AllPub</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>6</td>
      <td>2010</td>
      <td>WD</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1465</td>
      <td>120</td>
      <td>RL</td>
      <td>43.0</td>
      <td>5005</td>
      <td>Pave</td>
      <td>NaN</td>
      <td>IR1</td>
      <td>HLS</td>
      <td>AllPub</td>
      <td>...</td>
      <td>144</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>1</td>
      <td>2010</td>
      <td>WD</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 80 columns</p>
</div>

In [ ]:
# 코드를 입력해 주세요
# id 컬럼 제거

In [ ]:
# 코드를 입력해 주세요
# SalePrice 컬럼을 제외한 숫자형(int, float) 컬럼만 선택하여 X 변수에 대입하세요.
# SalePrice 컬럼만 선택하여 Y 변수에 대입하세요.

In [ ]:
# 코드를 입력해 주세요
# X 데이터 프레임의 결측치를 0으로 대체하고 결측치를 조회하세요.

<p><strong>[출력 결과]</strong></p><pre>MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
dtype: int64</pre>

In [ ]:
# 코드를 입력해 주세요
# RandomForestRegressor 모델을 이용하여 모델링하세요. (random_state는 0으로 지정하세요.)

In [ ]:
# 코드를 입력해 주세요
# X 데이터 프레임과 동일하게 test 데이터 프레임에서 컬럼을 선택하여 X2 변수에 저장하세요.
# X2 데이터 프레임의 결측치를 0으로 대체하세요.

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MSSubClass</th>
      <th>LotFrontage</th>
      <th>LotArea</th>
      <th>OverallQual</th>
      <th>OverallCond</th>
      <th>YearBuilt</th>
      <th>YearRemodAdd</th>
      <th>MasVnrArea</th>
      <th>BsmtFinSF1</th>
      <th>BsmtFinSF2</th>
      <th>...</th>
      <th>GarageArea</th>
      <th>WoodDeckSF</th>
      <th>OpenPorchSF</th>
      <th>EnclosedPorch</th>
      <th>3SsnPorch</th>
      <th>ScreenPorch</th>
      <th>PoolArea</th>
      <th>MiscVal</th>
      <th>MoSold</th>
      <th>YrSold</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20</td>
      <td>80.0</td>
      <td>11622</td>
      <td>5</td>
      <td>6</td>
      <td>1961</td>
      <td>1961</td>
      <td>0.0</td>
      <td>468.0</td>
      <td>144.0</td>
      <td>...</td>
      <td>730.0</td>
      <td>140</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>120</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>81.0</td>
      <td>14267</td>
      <td>6</td>
      <td>6</td>
      <td>1958</td>
      <td>1958</td>
      <td>108.0</td>
      <td>923.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>312.0</td>
      <td>393</td>
      <td>36</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12500</td>
      <td>6</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>2</th>
      <td>60</td>
      <td>74.0</td>
      <td>13830</td>
      <td>5</td>
      <td>5</td>
      <td>1997</td>
      <td>1998</td>
      <td>0.0</td>
      <td>791.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>482.0</td>
      <td>212</td>
      <td>34</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>3</th>
      <td>60</td>
      <td>78.0</td>
      <td>9978</td>
      <td>6</td>
      <td>6</td>
      <td>1998</td>
      <td>1998</td>
      <td>20.0</td>
      <td>602.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>470.0</td>
      <td>360</td>
      <td>36</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>4</th>
      <td>120</td>
      <td>43.0</td>
      <td>5005</td>
      <td>8</td>
      <td>5</td>
      <td>1992</td>
      <td>1992</td>
      <td>0.0</td>
      <td>263.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>506.0</td>
      <td>0</td>
      <td>82</td>
      <td>0</td>
      <td>0</td>
      <td>144</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1454</th>
      <td>160</td>
      <td>21.0</td>
      <td>1936</td>
      <td>4</td>
      <td>7</td>
      <td>1970</td>
      <td>1970</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>0.0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>2006</td>
    </tr>
    <tr>
      <th>1455</th>
      <td>160</td>
      <td>21.0</td>
      <td>1894</td>
      <td>4</td>
      <td>5</td>
      <td>1970</td>
      <td>1970</td>
      <td>0.0</td>
      <td>252.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>286.0</td>
      <td>0</td>
      <td>24</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>2006</td>
    </tr>
    <tr>
      <th>1456</th>
      <td>20</td>
      <td>160.0</td>
      <td>20000</td>
      <td>5</td>
      <td>7</td>
      <td>1960</td>
      <td>1996</td>
      <td>0.0</td>
      <td>1224.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>576.0</td>
      <td>474</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>2006</td>
    </tr>
    <tr>
      <th>1457</th>
      <td>85</td>
      <td>62.0</td>
      <td>10441</td>
      <td>5</td>
      <td>5</td>
      <td>1992</td>
      <td>1992</td>
      <td>0.0</td>
      <td>337.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>0.0</td>
      <td>80</td>
      <td>32</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>700</td>
      <td>7</td>
      <td>2006</td>
    </tr>
    <tr>
      <th>1458</th>
      <td>60</td>
      <td>74.0</td>
      <td>9627</td>
      <td>7</td>
      <td>5</td>
      <td>1993</td>
      <td>1994</td>
      <td>94.0</td>
      <td>758.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>650.0</td>
      <td>190</td>
      <td>48</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>2006</td>
    </tr>
  </tbody>
</table>
<p>1459 rows × 36 columns</p>
</div>

In [ ]:
# 코드를 입력해 주세요
# X2 데이터 프레임을 예측하여 prediction 변수에 저장하세요.

<p><strong>[출력 결과]</strong></p><pre>array([127184.66, 155281.  , 178873.99, ..., 158481.37, 110106.  ,
       236282.  ])</pre>

In [ ]:
# 코드를 입력해 주세요
# prediction 값을 submission 데이터 프레임의 SalePrice 컬럼에 대입하세요.

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>SalePrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1461</td>
      <td>127184.66</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1462</td>
      <td>155281.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1463</td>
      <td>178873.99</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1464</td>
      <td>181327.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1465</td>
      <td>199171.06</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1454</th>
      <td>2915</td>
      <td>80098.00</td>
    </tr>
    <tr>
      <th>1455</th>
      <td>2916</td>
      <td>83300.00</td>
    </tr>
    <tr>
      <th>1456</th>
      <td>2917</td>
      <td>158481.37</td>
    </tr>
    <tr>
      <th>1457</th>
      <td>2918</td>
      <td>110106.00</td>
    </tr>
    <tr>
      <th>1458</th>
      <td>2919</td>
      <td>236282.00</td>
    </tr>
  </tbody>
</table>
<p>1459 rows × 2 columns</p>
</div>

# 순서대로 평가가 진행됩니다. 실행은 1회만 해주세요.

- 느리다고 중지 후 다시 평가 코드를 실행하는 경우 제출 과정에서 패널티가 발생할 수 있습니다. (제출 횟수 이슈 발생 가능)

In [ ]:
# 아래의 코드를 실행하여 결과를 생성하고 제출하세요.
myPro.submit(submission)  # 제출 파일 생성 및 결과 제출

# 축하드립니다. 모델의 성능을 개선하여 더 좋은 점수를 획득해보세요!